<br>
<form action="/setTradeLink" method="POST" role="form">
  <legend>
    Set Your Tradelink
    <br>
    <h4>
      <a href="https://steamcommunity.com/id/{{user.displayName}}/tradeoffers/privacy/" target="_blank">Find your steam tradelink here.</a>
    </h4>
  </legend>

  <div class="form-group">
    <input type="text" name="tradelink" class="form-control" placeholder="Insert your tradelink here." style="width: 60%">
  </div>

  <button type="submit" class="btn btn-danger" style="background: #D83E40;">Submit</button>
</form>